@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none; border: none;
    transition: 2.s linear;
}

html {
    font-size: 62.5%;
    /*overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth*/;
}

/*html::-webkit-scrollbar {
    width: 10px;
}

/*html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}*/
/* For Chrome, Safari, and Opera */

/* Custom scrollbar track 
html::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Custom scrollbar handle 
html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Custom scrollbar handle on hover 
html::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  /* Optional: Hide the scrollbar when not hovered over */
  /*::-webkit-scrollbar {
    width: 0;
  }*/
  
  

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #070018;
    background-size: cover;
    background-position: center;

}
.main-container {
    height: 100vh; /* Fill the viewport height */
    overflow-y: auto; /* Enable vertical scrollbar */
}

section {
    padding: 2rem 7%;
    margin: 20px 0;
    min-height: 100vh;
    transition: height 9999s;
    
}

.heading {
    text-align: center;
    color: beige;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: burlywood;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .icon span {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    position: absolute;
    font-weight: 500;
    
}

header .icon span:hover{
    color:#fff;
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-list a{
    text-decoration: none;
    color: #fafafa;
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-list a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 40px;
    color: #fff;
    transition: .5s;
}

.btnLogin-popup:hover {
    background-color: #fff;
    color: #3f4aee; /* Change color on hover */
}


.btnLogin-popup1 {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 40px;
    color: #fff;
    transition: .5s;
}

.btnLogin-popup1:hover {
    background-color: #fff;
    color: #3f4aee; /* Change color on hover */
}


.wrapper {
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform .5s ease, height .2s ease;
    opacity: 0;
    pointer-events: none;
}

.home.show .wrapper{
    opacity: 1;
    pointer-events: auto;
    transform: scaleY(1);
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}


.wrapper.active {
    height: 520px; 
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 5s;
}

.input-box input:focus~label,
.input-box input:focus~valid {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
    text-decoration: none;

}

.remember-forgot a {
    color: #162938;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    height: 45px;
    background: #162938;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: -9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}  

.home {
    /*padding-block: 130px 80px;*/
    position: relative;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/bg1.png) no-repeat;
    background-size: cover;
    background-position: center
}

.home .content{
    max-width: 120rem;
}

.home .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #eee;
    padding: 1rem 0;
}

.search-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.input-container {
    display: flex;
    margin-bottom: 20px;
}
.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}
.input-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.result {
    margin-top: 20px;
}
.result-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}
.result-item strong {
    font-weight: bold;
}
.result-item a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
}

.workout-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    max-width: 1120px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
}

.workout-grid {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.workout-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-content: center;
    justify-content: center;
}

.workout-card h2 {
    color: #007bff;
    align-items: center;
}

.workout-card p{
    align-items: center;
}

.workout-images img {
    /*border-radius: 50%;*/
    padding: 20px;
    vertical-align: middle;
    width: 300px;
    height: 300px;
}
.search-container{
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  @media only screen and (min-width: 769px) {
    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
  }

.about .row {
    display: flex;
    align-items: center;
    background: #162938;
    flex-wrap: wrap;
}

.about .row .image-holder {
    flex: 1 1 45rem;
}

.about .row .image-holder  img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}
.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #eee;
    padding: 1rem 0;
}

.BMI .container {
    
    background: #f7f5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 400px;
    background: #fafafa;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);

  }


  h1 {
    color: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
    
  }


    
    .content {
        padding: 0 30px;
        
    }
    
    .input {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    
    .input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
    .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }


    
    .inputW {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
    }


    .inputW label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputW input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

    .inputH {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }


    .inputH label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputH input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

  
button.calculate {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: rgb(97,138,254,1);
    font-size: 16px;
    border-radius: 7px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: all 0.5s;
  }
  button.calculate:hover {
    background: #0044ff;
  }

  
  
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
  }
  .result #bmi-result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
  }
  #comment {
    color: #4f7df9;
    font-weight: 800;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}

  /* Style for Radio */
.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .gender .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /* END Style for Radio */

.containerHW {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 300px;

}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  border-radius: 10px;
  box-shadow: #393c76 -1px 2px 2px 1px;
}

#modalText {
  padding-top: 8px;
  padding-right: 5px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 23, 23);
}

.modal-wrong {
border: 2px solid red;
}

.modal-correct {
  border: 2px solid green;
  }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}



@media (max-width: 700px){


    .box {
        width: 380px;
    }



    
    .input label {

        font-size: 18px;
    }

    .inputH label, .inputW label {
        font-size: 14px;
    }


    .input input, .inputH input, .inputW input{
        font-size: 24px;
    }


    .modal-content {

      width: 380px;
    }



}


.calories .container {
    
    background: #f7f5f7;
    display: flex;
    align-items: center;
}
.calories .container .heading{
    color:rgba(0, 0, 0, .5);
}
.calories .container .image-holder {
    flex: 1 1 45rem;
}

.calories .container .image-holder img{
    width: 100%
}

.calories .container .cal-burner{
    flex: 1 1 45rem;
    padding: 2rem;
}

#calResult {
    margin-top: 20px;
}


.contact .container {
    
    background: #f7f5f7;
    display: flex;
    align-items: center;
}

.contact .container .image-holder img{
    width: 100%
}

.contact .container .contact-us{
    flex: 1 1 45rem;
    padding: 2rem;
}

.contact-us input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

textarea {
    width: 70%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
}

/* media queries */
@media (max-width:991px){

    html {
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
}

@media (max-width:768px){

    #menu-btn {
        display: block;
    }
    
    header .nav-list {
        position: fixed;
        flex-direction: column;
        top:0; right: -100%;
        background: transparent;
        backdrop-filter: blur(20px);
        min-width: 300px;
        height: 100vh;
        align-items: flex-start;
        justify-content: start;
        padding-top: 10rem;
    }

    header .nav-list.active {
        right: 0;
    }

    header .nav-list .icon {
        position: absolute;
        top: 0; left: 0;
        margin: 25px;


    }

    header .nav-list a {
        color:black;
        display: block;
        margin: 1.5rem 15px;
        padding:.5rem;
        font-size: 2rem;

    }

}
