body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f0f5;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #0a0a0a;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff6f61; /* Change color on hover */
}

.search-btn,
.join-now-btn {
    background-color: #052705;
    color: #f8f4f4;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}


.search-btn:hover,
.join-now-btn:hover {
    color: #3f4aee; /* Change color on hover */
}
.bg {
    position: absolute;
    height: 100vb;
    width: 100vw;
    top: auto;
    left: 0;
    background: url(/assets/images/gym1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}